body {
    background-color: #99ff66; /* WArna light lime green) */
    font-family: Arial, sans-serif; /8 jenis huruf yang bersih dan mudah dibaca */
    color: 3191970: /8 Warna texs utama (Biru Gelap) */
}

.kartu-profil {
    width: 300px;
    margin: 50px auto; /* 20px jarak atas/bawah, auto menengahkan kiri/kanan */
    padding: 20px;
    background-color: white;
    border-radius: 15px; /8 membuat sudut menjadi melengkung */
    box-shadow: 0 4px 8px rgba (0,0,0,0,1); /* Efek bayangan */
    text-align: center; /* Menengahakan semua text di dalam kartu */


.kartu-profil img {
    widt: 100px;
    border-radius: 50%; /* Trik untuk membuat gambar persegi menjadi lingkaran */
